$night: #171a1f;
$darkest: #1b1e24;
$darker: #1f232a;
$dark: #272c35;
$light: #d1d1d1;
$lighter: #e9e9e9;

$danger: #A3525B;
$warning: #d2b86a;
$success: #70a352;
$info: #527AA3;

$accent: #7289da;
$background: $darkest;
$text: $light;
$saturated: #263b5c;