/* Zapier */
.zap-row,
.zap-empty {
  background-color: $darker !important;
  border-color: $darker !important;
}

.zap-service {
  border-color: $dark !important;
}

.zap-description {
  color: $lighter !important;
}